// ---------- desctop-menu ----------

.desctop-menu {
    position: fixed;
    background-color: #fff;
    transform: translateX(150%);
    transition: all 0.5s ease-in;
    top: 0;
    right: 0;
    bottom: 0;
    width: 730px;
    z-index: 5;
    padding: 25px 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media (max-width: 1530px) {
        width: 560px;
    }

    @media (max-width: 1240px) {
        width: 400px;
    }

    @media (max-width: 1024px) {
        width: 350px;
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 25px 15px;
    }
}

.desctop-menu--active {
    transform: translateX(0%);
}

.desctop-menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.desctop-menu__imgs {
    width: 43%;
    background-size: cover;
    height: 100%;
    position: relative;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: .8s;
        position: absolute;
    }

    @media (max-width: 1025px) {
        width: 30%;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.desctop-menu__mid {
    max-width: 679px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 0;
        width: 100%;
        align-items: center;
    }
}

.desctop-menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.desctop-menu__top .control__cart {
    @media (max-width: 768px) {
        display: none;
    }
}

.desctop-menu__top .control__favorites {
    @media (max-width: 768px) {
        display: none;
    }
}

.desctop-menu__top .control__profile {
    @media (max-width: 768px) {
        display: block;
    }
}

.desctop__btn--mobile {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        width: 30px;
        height: 24px;
        cursor: pointer;
    }
}

.desctop-btn__icon--mobile {
    position: relative;
    top: 11px;
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: background-color 0.2s ease-in 0.2s;
    background-color: transparent;
}

.desctop-btn__icon--mobile::before {
    transform: rotate(45deg);
    top: 0;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
}

.desctop-btn__icon--mobile::after {
    transform: rotate(-45deg);
    top: 0;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
}

.desctop__btn {
    display: flex;
    width: 30px;
    height: 24px;
    cursor: pointer;

    @media (max-width: 768px) {
        display: none;
    }
}

.desctop-burger__icon {
    position: relative;
    top: 11px;
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: background-color 0.2s ease-in 0.2s;
    background-color: transparent;
}
.desctop-burger__icon::before {
    transform: rotate(45deg);
    top: 0;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
}

.desctop-burger__icon::after {
    transform: rotate(-45deg);
    top: 0;
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
}

.desctop-menu__logo {
    display: none;

    @media (max-width: 768px) {
        display: block;
        margin-left: 20px;
    }
}

.desctop-menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desctop-menu__nav {
    margin: 0;
    margin-bottom: 80px;
    margin-top: 80px;
    padding: 0;
}

.desctop-menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.desctop-menu__item {
    margin-bottom: 28px;

    a {
        text-decoration: none;
        font-family: 'Cormorant Unicase', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 28px;
        color: #313131;
        transition: .4s;

        &:hover {
            color: #814d4d;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}

.desctop-menu__item--tablet {
    display: none;

    @media(max-width: 768px) {
        display: block;
    }
}

.desctop-menu__item--desc {

    @media (max-width: 768px) {
        display: none;
    }
}

.desctop-menu__socials {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: .2em;
    }

    a {
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: .2em;
        text-decoration: none;
        color: rgba(49,49,49,.8);

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 768px) {
            text-align: center;
        }
    }
}