.our-collections {
    display: none;
    background-color: #FCF1F1;
    padding-bottom: 180px;

    @media (max-width: 768px) {
        display: block;
    }

    @media (max-width: 420px) {
        padding-bottom: 0;
    }

    @media (max-width: 375px) {
        background: linear-gradient(180deg, #FFE2E2 0%, #FCF1F1 16.15%);
    }
}

.our-collections__subtitle {
    padding-left: 40px;

    @media (max-width: 420px) {
        padding-left: 0;
        text-align: center;
    }
}

.our-collections__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 420px) {
        flex-direction: column;
    }
}

.our-collections__item {
    width: 48%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    img {
        width: 100%;
    }

    @media (max-width: 420px) {
        width: 110%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.our-collections__text {
    margin: 0;
    position: absolute;
    z-index: 2;
    font-family: 'Cormorant Unicase', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FCF1F1;
}